<% include includes/html-head.html %>
<div id="wrap">
   <!-- Wrap Starts --> 
       <div class="main-bg"> 
      <% include includes/site-header.html %>  
	    <% include includes/breadcrumbs.html %>
   </div>
   <div class="container">
      <!-- Container Starts -->
    
      	
         
       <div class="body-container">
	   		<% include includes/buyshop-device.html %>
	  
         <!-- Main Body Includes Ends --> 
         <% include includes/site-footer.html %> <!-- Includes footer links and Social media icons -->
      </div>
   </div>
   <!-- container end -->
</div>
<!-- Wrap end -->
<% include includes/html-footer.html %>

<!--<script src="assets/js/jquery.js"></script>
<script src="assets/js/jquery.rating.js"></script>-->
