<% include includes/html-head.html %>
<div id="wrap">
   <!-- Wrap Starts --> 
    <div class="main-bg">
         <% include includes/site-header.html %>  
   </div>
   <div class="container check-sticky">
      <!-- Container Starts -->
      <div class="body-container">
        
      </div>
         <!-- Main Body Includes Starts --> 
    </div>
    
     
     <div class="container tab-link-margin">   
       <div class="body-container">
       		<% include includes/career-opportunities.html %>
         <!-- Main Body Includes Ends --> 
         <% include includes/site-footer.html %> <!-- Includes footer links and Social media icons -->
      </div>
   </div>
   <!-- container end -->
</div>
<!-- Wrap end -->
<% include includes/html-footer.html %>