<% include includes/html-head.html %>
<div id="wrap">
   <!-- Wrap Starts --> 
          <div class="main-bg"> 
      <% include includes/site-header.html %>   <!-- Includes Nav Menu for Desktop and Mobile -->
	    <% include includes/breadcrumbs.html %>
   </div>
   <div class="container">
      <!-- Container Starts -->
      <div class="body-container">
        
         
      </div>
         <!-- Main Body Includes Starts --> 

       		
            
            
       <div class="body-container">
      

         <% include includes/cart-item.html %>
         <% include includes/product-article.html %>
         <!-- Main Body Includes Ends --> 
         <% include includes/site-footer.html %> <!-- Includes footer links and Social media icons -->
       </div>
      </div>
	  
	      <div class="row sticky-cart no-space" style="z-index:9999;">
 		
        <div style="margin-left:9%;">
            <div class="left" style="margin-top:20px;"><h2>Cart <span class="cart-product-counter">5 items</span></h2></div>
            <div class="left" style="margin-left:20px; margin-bottom:15px;"><input type="button" value="Checkout" class="checkout-btn" id="" /></div>
 		</div>
  	</div>
   </div>
<% include includes/html-footer.html %>