<% include includes/html-head.html %>
<div id="wrap">
   <!-- Wrap Starts --> 
          <div class="main-bg"> 
      <% include includes/site-header.html %>   <!-- Includes Nav Menu for Desktop and Mobile -->
	    <% include includes/breadcrumbs.html %>
   </div>
   <div class="container">
      <!-- Container Starts -->
      <div class="body-container">

	  
      	<div id="check-activator" class="activate-5"></div>
      	<div id="checklanding" class="check-landing-page"><% include includes/menu-support.html %> </div>

      </div>
	    <% include includes/contact-us-landing.html %>
      <div class="body-container">
        
         <!-- Main Body Includes Starts --> 
          
         <% include includes/contactus-instore.html %>
         <% include includes/contactus-help-section.html %> 
        <% include includes/contact-loyalty-rewards.html %>
      
         <!-- Main Body Includes Ends --> 
         <% include includes/site-footer.html %> <!-- Includes footer links and Social media icons -->
      </div>
   </div>
   <!-- container end -->
</div>
<!-- Wrap end -->
<% include includes/html-footer.html %>