<% include includes/html-head.html %>
<div id="wrap">
	       <div class="main-bg"> 
      <% include includes/site-header.html %>   <!-- Includes Nav Menu for Desktop and Mobile -->
	    <% include includes/breadcrumbs.html %>
   </div>
   <!-- Wrap Starts --> 
   <div class="container">
      <!-- Container Starts -->
      <div class="body-container">
	  <div id="check-activator" class="activate-1"></div>
        	<% include includes/menu-explore.html %>
      </div>
         <!-- Main Body Includes Starts --> 
         <% include includes/explore-article-video.html %>
       <div class="body-container">
       	 <% include includes/explore-article-landing-nx.html %>
		  <!--<div class="text-center margin-top-20">
              <input type="button" value="VIEW MORE" class="btn-redirect" onclick="location.href=('explore-topics.html')" />
         </div>-->
         
         <% include includes/jio-experience.html %>
         
          
         <% include includes/product-article.html %>
         
         <!-- Main Body Includes Ends --> 
         <% include includes/site-footer.html %> <!-- Includes footer links and Social media icons -->
      </div>
   </div>
   <!-- container end -->
</div>
<!-- Wrap end -->
<% include includes/html-footer.html %>