<% include includes/html-head.html %>
<div id="wrap">
   <!-- Wrap Starts --> 
          <div class="main-bg"> 
        <% include includes/site-header.html %>   <!-- Includes Nav Menu for Desktop and Mobile -->
		<% include includes/breadcrumbs.html %>
   </div>
   <div class="container">
      <!-- Container Starts -->
      <div class="body-container">
      
         
      </div>
         <!-- Main Body Includes Starts --> 
        
        <div class="body-container">
          <div id="check-activator" class="activate-1"></div>
          <% include includes/menu-support.html %>
        </div> 

       <div class="body-container">
       	 <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h1>How can we help you?</h1>
          </div>
        </div>
         <% include includes/self-help-search-result.html %>
         <% include includes/search-help-video.html %>
         <% include includes/self-help-search-suggestion.html %>
         <% include includes/self-help-search-suggestion-result.html %>
         <% include includes/self-help-need.html %>
         <!-- Main Body Includes Ends --> 
         <% include includes/site-footer.html %> <!-- Includes footer links and Social media icons -->
      </div>
   </div>
   <!-- container end -->
</div>
<!-- Wrap end -->
<% include includes/html-footer.html %>