<% include includes/html-head.html %>
<div id="wrap">
   <!-- Wrap Starts --> 
          <div class="main-bg"> 
      <% include includes/site-header.html %>   <!-- Includes Nav Menu for Desktop and Mobile -->
   </div>
     <div class="container tab-link-margin">   
       <div class="body-container">
			<div id="check-activator" class="activate-1"></div>
         	<% include includes/menu-explore.html %>
       		<% include includes/share-stories.html %>
         <!-- Main Body Includes Ends --> 
         <% include includes/site-footer.html %> <!-- Includes footer links and Social media icons -->
      </div>
   </div>
   <!-- container end -->
</div>
<!-- Wrap end -->
<% include includes/html-footer.html %>