#holding-pag {
    background: #fea501;
}

#holding-pag #wrap {
    background-color: transparent;
}

#holding-pag .container {
    background: #fff;
}

#holding-pag .body-container {
    margin-bottom: 40px;
    padding: 0px 30px;
}

#holding-pag #product-feature {
    padding: 0px 20px 40px 20px;
}

#holding-pag .down-arrow-btn {
    float: right;
}

#holding-pag .logo-landing {
    margin: 22.8% auto 8% auto;
    width: 100%;
    text-align: center;
}

#holding-pag .or-text {
    width: 6%;
    margin: 0px;
    text-align: center;
}

#holding-pag .or-divider-left {
    width: 47%;
}

#holding-pag .or-divider-right {
    width: 47%;
}

#holding-pag .text-center {
    text-align: center;
}

#holding-pag .dropdown {
    margin-top: 20px;
}

#holding-pag .payment-dropdown .dropdown-menu {
    top: -113px;
}

#holding-pag .dropdown-menu {
    border-top: 1px solid #E3E3E3;
    border-bottom: none;
}

#holding-pag .btn-main {
    padding: 15px 25px;
}

@media (max-width:1024px) {
	
    #holding-pag .logo-landing {
        margin: 30% auto 15% auto;
    }
}

@media (max-width:768px) {
    #holding-pag .btn-main {
        margin: 30px 0px 30px 320px;
    }

    #holding-pag .logo-landing {
        margin: 40% auto 20% auto;
    }
}

@media (max-width:640px) {
    #holding-pag .logo-landing {
        margin: 45% auto 50% auto;
    }

    #holding-pag .btn-main {
        margin: 30px 0px 30px 190px;
    }

    #holding-pag .jio-logo {
        width: 50%;
    }
}

@media (max-width:340px) {
    #holding-pag .btn-main {
        margin: 30px 0px 30px 110px;
    }

    #holding-pag h2 {
        font-size: 2.1em !important;
        line-height: 30px !important;
    }

    #holding-pag .jio-logo {
        width: 50%;
    }

    #holding-pag .facebook-button {
        width: 70%;
    }

    #holding-pag .margin-top-40 {
        margin-top: 20px !important;
    }

    #holding-pag .login-form input[type=text] {
        margin-top: 10px;
    }

    #holding-pag .dropdown {
        margin-top: 14px;
    }
}
  
