


.my-history-container .plan-recharge{
padding-top:40px;
padding-left:20px;
font-size:10px;
}

.my-history-container .accordion-header1{
border-bottom:1px solid #dddddf!important;
height:60px;
margin:0px 0px!important;
background-color:#f0f0f2;
}


.my-history-container .txtcontent2{
font-size:1em;
font-weight:bold;
padding: 20px 0px 20px 20px!important;

}
.account-apps .heading {
border-bottom:none !important;
}


@media (max-width: 767px){
.my-history-container .inactive-header1 {
background: url(../images/accordion-down.png) #f2f2f4!important;
background-repeat: no-repeat!important;
background-position: right 20px bottom 17px !important;
padding-left: 0px;
}

.my-history-container .active-header1 {
background: url(../images/accordion-up.png) #f2f2f4 !important;
background-position: right 20px bottom 17px !important;
background-repeat: no-repeat !important;
padding-left: 0px;
}

}

@media (max-width: 400px){

.my-history-container .txtcontent2{
font-size:1em!important;
font-weight:bold;
padding: 20px 0px 20px 10px!important;

}
.my-history-container .accordion-header1{
 
height:75px; 
 
}
}

