.drillmenu{ /* main DIV container of menu */
border: none;
width: 100%; /*width of menu*/
height: auto; /*Height of DIV for those with JavaScript disabled*/
overflow-y: hidden; /*Scrollable DIV for those with JavaScript disabled*/
background-color:transparent;
}
.drillmenu .item-suggestion {
  padding: 10px 0px 20px 10px;
  font-family: 'kohinoorbold';
  font-size:1.5em;
  width:400px;
  color: #58585c;
}
.drillmenu ul{ /*menu ULs*/
font: normal 13px;
margin: 0;
padding: 0;
list-style-type: none;
background-color:transparent;
}
.drillmenu ul li a{ /*menu links*/
display: block;
color: #2e2e33;
text-decoration: none;
padding: 10px 15px;
height:130px;
background-color:#f2f2f4;
border-bottom:1px solid #e3e3e6;
}
.drillmenu ul li p{ /*menu links*/
width:95%;
font-size:14px !important;
line-height:20px !important;
}
.drillmenu ul li ul li a{ /*menu links*/
height:50px !important;
line-height:30px !important;
padding-left:15px;
border-bottom:1px solid #e3e3e6;
background-color:#FFF;
font-size:14px;
margin:0px;
}
.drillmenu ul li ul li ul li ul li a{ /*menu links*/
	background-color:#ffdf4c;
	border-bottom:1px solid #FFF;
	overflow:hidden;
	height: auto !important;
	line-height:20px !important;
}
.drillmenu .menucontent li a{ /*menu links*/
	background-color:#ffdf4c !important;
	border-bottom:1px solid #FFF;
	overflow:hidden;
	height: auto !important;
	line-height:20px !important; 
}
* html .drillmenu li{ /*IE6 CSS hack*/
display: inline-block;
}
.drillmenu li a:hover{
background-color: #ffdf4c;
color: #2e2e33;
}
li.backcontroltitle{ /*style of top level menu title*/
background: #f2f2f4;
color: white;
padding: 0px !important;
border-bottom:1px solid #e3e3e6;
}
li.backcontrol{ /*style of back button control that gets added to the top of each sub UL*/
background: #f2f2f4;
font-size: 16px;
color: #2e2e33;
padding: 10px 15px;
cursor: hand;
cursor: pointer;
border-bottom:1px solid #e3e3e6!important;
}
#drillcrumb{ /*custom, user defined DIV that contains breadcrumb trail*/
background: #FFF;
font-family: 'kohinoorbold';
font-size:12px;
padding-left:10px;
margin-bottom:8px;
margin-top:10px;
}
#drillcrumb a{ /*custom element*/
color: #ffdf4c;
}