 
<div class="row">
  <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
    <p>Explore the faces of our Jio community. See how the live their lives with Jio and contribute for yourself.</p>
  </div>
  <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7"></div>
</div>



<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 no-space padding-left-4 padding-right-4 margin-bottom-40">
        <% include ../includes/index-stories1.html %>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 no-space padding-left-4 padding-right-4">
        <% include ../includes/index-stories2.html %>
    </div>
</div>

